h1, h2{
    color: white;
    font-size: xx-large;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    white-space:nowrap;
}

h2{
    padding: 0;
    color: green;
}
button{
    color: white;
    font-size: large;
    text-align: center;
    margin: 10px auto;
    border: 3px solid var(--color2);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms ease;
    
}

main div{
    display: flex;
    flex-direction: column;
}

button:hover{
    transform: scale(1.2);

}
div div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: min(600px, 80%);
    margin: 0 auto;
    gap: 20px;

}

#word-card{
    display: none;
    position: fixed;
    top: 150px;
    width: fit-content;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px auto;
    border: 3px solid var(--color2);
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color1);
}
#word-card h1{
    padding-top: 10px;
}

#show-button{
    width: 100px;
    position: relative;
    margin-top: 30px;
}

#show-button p{
    position: absolute;
    top: -15;
    left:-10 ;
    background-color: var(--color3);
    padding: 3px;
    border-radius: 100px;
    
}