h1{
    color: white;
    font-size: xx-large;
    font-weight: 100;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
}
button{
    color: white;
    font-size: x-large;
    text-align: center;
    margin: 10px auto;
    border: 3px solid var(--color2);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms ease;
    
}

input{
    color: white;
    font-size: x-large;
    text-align: center;
    margin: 10px auto;
    border: 3px solid var(--color2);
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    transition: 200ms ease;
    background-color: white;
    color: black;
    font-weight: 600;
}

input:focus{
    outline: none;
    box-shadow: none;
    border-color: inherit;
    transform:scale(1.2);
    border: 3px dashed var(--color2);
}

main div{
    display: flex;
    flex-direction: column;
}

button:hover{
    transform: scale(1.2);

}
#errorMessage{
    text-align: center;
    color: var(--color3);
}